.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links{
    display: flex;
    gap: 20px;
}
.logo h1{
    color: #10B981;
}
.green{
    color: #10B981;
}
.black{
    color: black;
}